.search{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    padding: 50px;
}

.search_input{
    display:flex;
    flex-direction: row;
    justify-content : space-around; 
    padding: 25px;
}

.search_title{
    font-size: 20px;
    font-weight: bold;
}

.search_wrapper{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
