.compare{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    padding: 50px;
}

.compare_wrapper{
    padding: 50px;
}

.compare_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
}

.compare_title{
    font-size: 40px;
    font-weight: 600;
}

.compare_submit{
    padding: 50px;
    display: flex;
    justify-content: center;
}
